In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
df = pd.read_csv('data_penjualan.csv')

In [4]:
df.head(10)

,Outlet,ReceiptNumber,Date,Time,Category,Items,Quantity,Discounts,NetSales,SalesType,PaymentMethod
0,Agus Salim,TSBZIO,1/1/2023,10:44:22,Tea,Lemon Tea,1.0,3600.0,14400.0,Dine In,Cash
1,Agus Salim,TSBZIP,1/1/2023,10:52:19,Tea,Lychee Tea,1.0,5200.0,20800.0,Dine In,Cash
2,Agus Salim,TSBZIP,1/1/2023,10:52:19,Signature Coffee,Kopi Rakyat,1.0,4000.0,16000.0,Dine In,Cash
3,Agus Salim,TSBZIR,1/1/2023,11:04:23,Signature Coffee,Kopi Rakyat,3.0,0.0,78000.0,Take Away,Cash
4,Agus Salim,TSBZIR,1/1/2023,11:04:23,Signature Coffee,Kopi Rakyat,1.0,0.0,26000.0,Take Away,Cash
5,Agus Salim,TSBZIT,1/1/2023,11:51:15,Signature Coffee,Kopi Dewan,1.0,0.0,27000.0,Take Away,Cash
6,Agus Salim,TSBZIU,1/1/2023,12:13:19,Signature Coffee,Kopi Rakyat,1.0,0.0,20000.0,Dine In,Gopay
7,Agus Salim,TSBZIU,1/1/2023,12:13:19,Espresso Based,Vanilla Latte,1.0,0.0,28000.0,Dine In,Gopay
8,Agus Salim,TSBZIV,1/1/2023,12:14:41,Signature Coffee,Kopi Rakyat,2.0,0.0,40000.0,Dine In,Gopay
9,Agus Salim,TSBZIW,1/1/2023,12:51:47,Signature Coffee,Kopi Rakyat,1.0,0.0,20000.0,Dine In,Cash

In [5]:
df.dtypes

Outlet            object
ReceiptNumber     object
Date              object
Time              object
Category          object
Items             object
Quantity         float64
Discounts        float64
NetSales         float64
SalesType         object
PaymentMethod     object
dtype: object

In [6]:
#recency

day='2023-09-30'
day=pd.to_datetime(day)
df['Date']=pd.to_datetime(df['Date'])

recency = df.groupby(['Items']).agg({'Date': lambda x: ((day-x.max()).days)})
recency.head()

                   Date
Items
                    234
Aglio Oglio         239
Aglio Oglio         122
Aglio Oglio         140
Almond Croissant    122

In [7]:
#frecuency

freq=df.drop_duplicates(subset="ReceiptNumber").groupby(["Items"])[["ReceiptNumber"]].count()

In [8]:
freq.head(10)

                   ReceiptNumber
Items
                              15
Aglio Oglio                    1
Aglio Oglio                   45
Aglio Oglio                    4
Almond Croissant              29
Black Coffee                  31
Black Coffee                  19
Black Coffee                  92
Black Coffee                  33
Blue Lime                      8

In [9]:
df["total"] = df["NetSales"]*df["Quantity"]

In [10]:
money = df.groupby(['Items'])[['total']].sum()
money

                       total
Items
                   1086400.0
Aglio Oglio          40000.0
Aglio Oglio        6044000.0
Aglio Oglio         336000.0
Almond Croissant   2119000.0
...                      ...
Thai Tea           1338000.0
Vanilla Latte       857200.0
Vanilla Latte       126000.0
Vanilla Latte      1210000.0
Vanilla Latte       600000.0

[181 rows x 1 columns]

In [11]:
df.dtypes

Outlet                   object
ReceiptNumber            object
Date             datetime64[ns]
Time                     object
Category                 object
Items                    object
Quantity                float64
Discounts               float64
NetSales                float64
SalesType                object
PaymentMethod            object
total                   float64
dtype: object

In [13]:
RFM=pd.concat([recency,freq,money],axis=1)
recency.columns=["Recency"]
freq.columns=["Frecuency"]
money.columns=["Monetary"]

In [14]:
RFM

                   Recency  Frecuency   Monetary
Items
                       234       15.0  1086400.0
Aglio Oglio            239        1.0    40000.0
Aglio Oglio            122       45.0  6044000.0
Aglio Oglio            140        4.0   336000.0
Almond Croissant       122       29.0  2119000.0
...                    ...        ...        ...
Thai Tea               123       12.0  1338000.0
Vanilla Latte          248       12.0   857200.0
Vanilla Latte          243        4.0   126000.0
Vanilla Latte          122       20.0  1210000.0
Vanilla Latte          124        4.0   600000.0

[181 rows x 3 columns]

In [16]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
scaled=scaler.fit_transform(RFM)