In [8]:
import pandas as pd
import numpy as np
import datetime as dt

In [9]:
df = pd.read_csv('data_penjualan.csv')

In [10]:
df.head(10)

,Outlet,Receipt Number,Date,Time,Category,Items,Quantity,Discounts,Net Sales,Sales Type,Payment Method
0,Agus Salim,TSBZIO,1/1/2023,10:44:22,Tea,Lemon Tea,1,3600.0,14400.0,Dine In,Cash
1,Agus Salim,TSBZIP,1/1/2023,10:52:19,Tea,Lychee Tea,1,5200.0,20800.0,Dine In,Cash
2,Agus Salim,TSBZIP,1/1/2023,10:52:19,Signature Coffee,Kopi Rakyat,1,4000.0,16000.0,Dine In,Cash
3,Agus Salim,TSBZIR,1/1/2023,11:04:23,Signature Coffee,Kopi Rakyat,3,0.0,78000.0,Take Away,Cash
4,Agus Salim,TSBZIR,1/1/2023,11:04:23,Signature Coffee,Kopi Rakyat,1,0.0,26000.0,Take Away,Cash
5,Agus Salim,TSBZIT,1/1/2023,11:51:15,Signature Coffee,Kopi Dewan,1,0.0,27000.0,Take Away,Cash
6,Agus Salim,TSBZIU,1/1/2023,12:13:19,Signature Coffee,Kopi Rakyat,1,0.0,20000.0,Dine In,Gopay
7,Agus Salim,TSBZIU,1/1/2023,12:13:19,Espresso Based,Vanilla Latte,1,0.0,28000.0,Dine In,Gopay
8,Agus Salim,TSBZIV,1/1/2023,12:14:41,Signature Coffee,Kopi Rakyat,2,0.0,40000.0,Dine In,Gopay
9,Agus Salim,TSBZIW,1/1/2023,12:51:47,Signature Coffee,Kopi Rakyat,1,0.0,20000.0,Dine In,Cash

In [12]:
df.dtypes

Outlet            object
Receipt Number    object
Date              object
Time              object
Category          object
Items             object
Quantity           int64
Discounts         object
Net Sales         object
Sales Type        object
Payment Method    object
dtype: object

In [13]:
#recency

day='2023-09-30'
day=pd.to_datetime(day)
df['Date']=pd.to_datetime(df['Date'])

recency = df.groupby(['Items']).agg({'Date': lambda x: ((day-x.max()).days)})
recency.head()

                   Date
Items
                    234
Aglio Oglio         239
Aglio Oglio         122
Aglio Oglio         140
Almond Croissant    122

In [14]:
#frecuency

freq=df.drop_duplicates(subset="Receipt Number").groupby(["Items"])[["Receipt Number"]].count()

In [15]:
freq.head(10)

                   Receipt Number
Items
                               15
Aglio Oglio                     1
Aglio Oglio                    45
Aglio Oglio                     4
Almond Croissant               29
Black Coffee                   31
Black Coffee                   19
Black Coffee                   92
Black Coffee                   33
Blue Lime                       8

In [74]:
df["total"] = df["Net Sales"]*df["Quantity"]

In [69]:
money = df.groupby(['Items'])[['total']].sum()
money

                                                               total
Items
                   48000.048000.040000.057600.048000.057600.04800...
Aglio Oglio                                                  40000.0
Aglio Oglio        40000.040000.040000.040000.040000.040000.04000...
Aglio Oglio        48000.048000.048000.048000.048000.048000.048000.0
Almond Croissant   26000.026000.026000.026000.026000.026000.014,7...
...                                                              ...
Thai Tea           30000.027000.054000.054000.027000.030000.06000...
Vanilla Latte      28000.030000.028000.028000.028000.028000.02800...
Vanilla Latte                           32000.032000.030000.032000.0
Vanilla Latte      30000.030000.032000.030000.032000.030000.03200...
Vanilla Latte      30000.090000.090000.090000.030000.030000.03000...

[181 rows x 1 columns]

In [18]:
df.dtypes

Outlet                    object
Receipt Number            object
Date              datetime64[ns]
Time                      object
Category                  object
Items                     object
Quantity                   int64
Discounts                 object
Net Sales                 object
Sales Type                object
Payment Method            object
total                     object
dtype: object

In [19]:
RFM=pd.concat([recency,freq,money],axis=1)

In [20]:
RFM

,Date,Receipt Number,total
Items,,,
,234,15.0,48000.048000.040000.057600.048000.057600.04800...
Aglio Oglio,239,1.0,40000.0
Aglio Oglio,122,45.0,40000.040000.040000.040000.040000.040000.04000...
Aglio Oglio,140,4.0,48000.048000.048000.048000.048000.048000.048000.0
Almond Croissant,122,29.0,"26000.026000.026000.026000.026000.026000.014,7..."
...,...,...,...
Thai Tea,123,12.0,30000.027000.054000.054000.027000.030000.06000...
Vanilla Latte,248,12.0,28000.030000.028000.028000.028000.028000.02800...
Vanilla Latte,243,4.0,32000.032000.030000.032000.0
Vanilla Latte,122,20.0,30000.030000.032000.030000.032000.030000.03200...
Vanilla Latte,124,4.0,30000.090000.090000.090000.030000.030000.03000...

In [56]:
df.dtypes

Outlet                    object
Receipt Number            object
Date              datetime64[ns]
Time                      object
Category                  object
Items                     object
Quantity                   int64
Discounts                 object
Net Sales                 object
Sales Type                object
Payment Method            object
total                     object
dtype: object

In [40]:
from sklearn.preprocessing import StandardScaler

object = StandardScaler()
scale = object.fit_transform(RFM)

ValueError: could not convert string to float: '48000.048000.040000.057600.048000.057600.048000.048000.057600.057600.048000.057600.048000.057600.048000.048000.057600.048000.057600.048000.057600.0'